@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
					@*<label asp-for="Input.Email"></label>*@
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <h4>TEMPORARY DEV. SECTION</h4>
						<hr />
						<ul>
                            <li>All fictional test e-mails are : at mail dot com. Below are user names & passwords</li>
							<li>
								<u>Admin:</u>
								<ul style="list-style-type:none;">
									<li>user_admin_1@mail.com</li>
									<li>Admin-User_1!</li>
								</ul>
                                <ul style="list-style-type:none;">
									<li>user_admin_2@mail.com</li>
									<li>Admin-User_2!</li>
								</ul>
							</li>
							<li>
								<u>Mod:</u>
								<ul style="list-style-type:none;">
									<li>user_1_mod</li>
									<li>Mod-User_1!</li>
								</ul>
								<ul style="list-style-type:none;">
									<li>user_2_mod</li>
									<li>Mod-User_2!</li>
								</ul>
							</li>
							<li>
								<u>Others/ Regular:</u>
								<ul style="list-style-type:none;">
									<li>user_1</li>
									<li>1st-User</li>
								</ul>
								<ul style="list-style-type:none;">
									<li>user_2</li>
									<li>2st-User</li>
								</ul>
								<ul style="list-style-type:none;">
									<li>user_3</li>
									<li>3st-User</li>
								</ul>
							</li>
						</ul>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
