@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@model WebForum.Models.Forum.ForumForumModel

<h1>@Model.Forum.Title</h1>

<div>
	@Model.Forum.Description
</div>

@if (Model.Threads.Any())
{
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Thread Title</th>
				<th>User</th>
				<th>Date Added</th>
				<th>Last Edited</th>
				<th>Posts</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var thread in Model.Threads)
			{
			<tr>
				<td>
					<a asp-controller="Thread" asp-action="Index" asp-route-id="@thread.Id">
						@thread.Title
					</a>
				</td>
				<td>
					<a>
						@thread.AuthorName
					</a>
				</td>
				<td>@thread.CreatedAt</td>
				<td>
					@if (thread.ModifiedAt is not null)
					{ @thread.ModifiedAt
					}
					else {}
				</td>
				<td>@thread.PostCount</td>
				<td>
					@if (thread.Status.Equals(0))
					{ @:Open, Normal
					}
					else if (thread.Status.Equals(1))
					{ @:Open, Sticky
					}
					else if (thread.Status.Equals(10))
					{ @:Closed, Normal
					}
					else if (thread.Status.Equals(11))
					{ @:Closed, Sticky
					}
				</td>
			</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="noThreads">
		<h3>
			This forum is empty.
			<a asp-controller="Thread" asp-action="Create" asp-route-id="@Model.Forum.Id">
				<span>New Thread</span>
			</a>
		</h3>
	</div>
}