@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@model WebForum.Models.Forum.ForumIndexModel

<!--TODO: put in a shared place so all pages have it, right below the top nav-bar. -->
<h5>[Site Map Path From Home-Index To Closest-Index, eg. here: Home / Forums]</h5>

<h1>[Board Name]</h1>

<table class="table table-hover" id="forumIndexTable">
	<thead>
		<tr>
			@*
			<th>@Html.DisplayNameFor(model => model.Title)</th>
			<th>@Model.ForumList.Title</th>
			*@
			<th>Forum Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var forum in Model.ForumList)
	{
		<tr>
			<td>
				<!--{controller=Home}/{action=Index}/{id?}-->
				<a asp-controller="Forum" asp-action="Forum" asp-route-id="@forum.Id">
					@forum.Title
				</a>
			</td>
			<td>
				@forum.Description
			</td>
		</tr>
	}
	</tbody>
</table>
