@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@model WebForum.Models.Thread.ThreadIndexModel


<div class="container body-content">
	<div class="row threadHeader">
		<div class="threadHeading">
			<span class="threadIndexTitle">
				@Model.Title
			</span>
			<span id="headingBtn">
				<a asp-controller="Forum" asp-action="Forum" asp-route-id="@Model.ForumId"
					class="btn btn-back">
					Back to @Model.ForumName
				</a>
			</span>
		</div>
	</div>
</div>

<div class="row" id="threadIndexContent">
	<div class="col-md-3 threadAuthorContainer">
		<div class="threadAuthorImage" style="background-image: url(@Model.AuthorImageUrl);"></div>
		<a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
			@Model.AuthorName
		</a>
		<span class="threadData">@Model.CreatedAt</span>
		@if(Model.IsAuthorAdmin)
		{
			<span class="isAdmin smaller">Admin</span>
		}
	</div>
	<div class="col-md-9 threadContentContainer">
		<div class="threadContent">
			@Html.Raw(Model.Content)
		</div>
	</div>
</div>

<div class="row" id="postDivider"></div>

@if(User.Identity.IsAuthenticated)
{
	<div class="row">
		<span>
			<a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id"
				class="btn btn-newPost">
				New Post
			</a>
		</span>
	</div>
}

@if(Model.Posts.Any())
{
	foreach(var post in Model.Posts)
	{
		<div class="row postContent">
			<div class="col-md-3 postAuthorContainer">
				<div class="postAuthorImage" style="background-image: url(@post.AuthorImageUrl);"></div>
				<a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
					Author: @post.AuthorName
				</a>
				@if (post.AuthorRating != 0)
				{
					@: (Rating: @post.AuthorRating)
				}

				@if (post.IsAuthorAdmin)
				{
					<div class="isAdmin smaller">Admin</div>
					<br />
				}
				<!--Can format the output of the date here with at'ToString()-->
				<span>Date Created: @post.CreatedAt</span>
				<span>
					@if (post.CreatedAt != post.ModifiedAt)
					{
						@*doesn't work as expected*@
						@: (Date Modified: @post.ModifiedAt)
					}
				</span>
			</div>
			<div class="col-md-9 postContentContainer">
				<div class="threadContent">
					@Html.Raw(post.Content)
				</div>
			</div>
		</div>
	}
}
else
{
	<div class="noPosts">
		<h3>There are no posts in this thread.</h3>
		<br />
	</div>
}
