@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@model WebForum.Models.Thread.ThreadIndexModel

<h1>@Model.Title</h1>

<div>
	<p>
		Author: @Model.AuthorName
		@if (Model.AuthorRating != 0)
		{
			@: (@Model.AuthorRating)
		}
	</p>
	<p>Date Created: @Model.CreatedAt
	@if(Model.ModifiedAt != null || Model.CreatedAt != Model.ModifiedAt)
	{
		@*this check is not right but it doesn't even work as expected*@
		@: (Date Modified: @Model.ModifiedAt)
	}
	</p>
</div>

<div>
	@Model.Content
</div>


@if (Model.Posts.Any())
{
	foreach (var post in Model.Posts)
	{
		<div>
			<div>
				Author: @post.AuthorName @*(@post.AuthorRating)*@
				Date Created: @post.CreatedAt @*(Date Modified: @post.ModifiedAt)*@
			</div>
			<div>
				@post.Content
			</div>
		</div>
	}
}
