@using Microsoft.AspNetCore.Identity
@using WebForum.Entities
@*@inject SignInManager<IdentityUser> SignInManager
	@inject UserManager<IdentityUser> UserManager*@
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
	<form id="logoutForm" class="navbar-right" asp-area="Identity" asp-page="/Account/Logout"
		  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
				   title="Manage">Hello @User.Identity.Name!</a>
			</li>
			@*<li>
				<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
			</li>*@
		</ul>
	</form>
}

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				Settings
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li role="separator" class="divider"></li>
				<li class="dropdown-header">Profile</li>
				<li>
					<a asp-controller="Profile" asp-action="Detail"
					   asp-route-id="@UserManager.GetUserId(User)">My Profile</a>
				</li>
				@if (User.IsInRole("Admin"))
				{
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Admin</li>
					<li><a asp-controller="Forum" asp-action="Create">Create Forum</a></li>
					<li><a asp-controller="Profile" asp-action="Index">View Users</a></li>
				}
			</ul>
		</li>
	}
</ul>
@* else *@
@if (!SignInManager.IsSignedIn(User))
{
	<ul class="nav navbar-nav navbar-right">
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
	</ul>
}

@* if ( SignInManager.IsSignedIn (User) ) *@
else
{
	<form id="logoutForm" class="navbar-right" asp-area="Identity" asp-page="/Account/Logout"
		  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<ul class="nav navbar-nav navbar-right">
			@*<li>
				<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index"
				   title="Manage">Hello @User.Identity.Name!</a>
			</li>*@
			<li>
				<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
			</li>
		</ul>
	</form>
}
